<div id="nepali-datepicker" #eRef>

  <!-- Dateficker field -->
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" (focus)="showCalendar()" placeholder="yyyy-mm-dd" [(ngModel)]="value" readonly />
      <div class="input-group-append">
        <button class="btn  btn-outline-light calendar" (click)="showCalendar()" type="button"><i class="fa fa-calendar"></i></button>
      </div>
    </div>

  <!-- Datepicker popup -->
  <div id="calendar" *ngIf="!isCalendarHidden" class="col-md-4" #calendar>
    <!-- Menu -->
    <div class="calendar-nav">
      <table class="calendar-menu">
        <tr>
          <td>
            <div class="arrow left" id="previous" (click)="previousMonth()">◄</div>
          </td>
          <td>
            <select class="year left" id="year" [(ngModel)]="year" (ngModelChange)="onYearChange($event)">
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </td>
          <td>
            <select class="month right" id="month" [(ngModel)]="month" (ngModelChange)="onMonthChange($event)">
              <option *ngFor="let month of months" [value]="month">{{month}}</option>
            </select>
          </td>
          <td>
            <div class="arrow right" id="next" (click)="nextMonth()">►</div>
          </td>
        </tr>
      </table>
    </div>

    <!-- Calendar <app-month></app-month> component-->
    <app-month [monthData]='monthData' [year]='year' [month]='month' [day]='day' [selectedDate]='selectedDate' (notify)='onNotify($event)' [startingDayIndex]="startingDayIndex"></app-month>

    <!-- Loading mask -->
    <div class="overlay" *ngIf="isLoading">
      <div class="loader">
        <p>Loading ...</p>
      </div>
    </div>
  </div>
</div>
