<table cellspacing="0" class="calendar-content">
  <thead>
    <tr>
      <td *ngFor="let day of weekDays">{{day}}</td>
    </tr>
  </thead>
  <tbody id="tbody">

    <tr *ngFor="let week of createRange();let weekDay=index">
      <ng-container *ngFor="let dayCount of createDayRangeInWeek()">
        <td class='day' [class.selected]='isDaySelected(weekDay*7+dayCount-startingDayIndex)' *ngIf="(weekDay*7+dayCount)>startingDayIndex && (weekDay*7+dayCount-startingDayIndex)<=monthData.length" (click)='selectDate(weekDay*7+dayCount-startingDayIndex)'>
          <ng-container>
            <div [class.np]="true" >{{weekDay*7+dayCount-startingDayIndex}}</div>
          </ng-container>
        </td>
        <td *ngIf="(weekDay*7+dayCount)<=startingDayIndex || (weekDay*7+dayCount-startingDayIndex)>monthData.length">
          <div class='np'></div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>


